[Unit]
Description=Gunicorn instance to serve todoapp
After=network.target

[Service]
User=opc
Group=opc
WorkingDirectory=/opt/todoapp/backend
Environment="PATH=/opt/todoapp/backend/venv/bin"
Environment="MYSQL_HOST=<mysql-private-ip>"
Environment="MYSQL_USER=admin"
Environment="MYSQL_PASSWORD=<mysql-password>"
Environment="MYSQL_DATABASE=tododb"
ExecStart=/opt/todoapp/backend/venv/bin/gunicorn --workers 3 \
  --bind 127.0.0.1:8000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
